<p class="m-2">activate-account works!</p>


<div *ngIf="isSuccess === true" class="m-2">
  <p>Your account has been activated</p>
  <a class="btn btn-outline-dark btn-lg" [routerLink]="['/login']">Click here to login << </a>
</div>

<div *ngIf="isSuccess === false" >
  <p class="mx-2">Unable to activate your account.</p>
  <p>{{ errorMessage }}</p>

  <div *ngIf="isErrorTokenExpired" class="m-2">
    <button class="btn btn-outline-dark btn-lg" (click)="resendActivationEmail()">Resend activation email.</button>
  </div>

  <div *ngIf="isErrorAccountAlreadyActivated" class="m-2">
    <button class="btn btn-outline-dark btn-lg" (click)="navigateToLoginPage()">Login</button>
  </div>
</div>
